<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Telerik_NuGet" value="https://nuget.telerik.com/v3/index.json" />
	</packageSources>
	<!--TODO: move to env variables-->
	<packageSourceCredentials>
		<Telerik_NuGet>
			<add key="Username" value="pablo.gasparini@codehq.nz" />
			<add key="ClearTextPassword" value="fMnPKKBa2pHtEvqodU5VE13Qq1SSmZW4asgNG" />
		</Telerik_NuGet>
	</packageSourceCredentials>
</configuration>