@page "/buttons"
@using Infinity.Blazor.UIControls.Buttons
@using Infinity.Blazor.UIControls.Icons

<PageTitle>Buttons</PageTitle>


<div class="button-state">
    <h3 class="button-title">Active</h3>

    <br />

    <div class="button-type">
        <h4>Solid</h4>

        <br />

        <InfButton LabelText="Button" />

        <br />

        <InfButton LabelText="Button">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

        <br />

        <InfButton LabelText="Button" IconPosition="IconPosition.Right">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

        <br />

        <InfButton>
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>
    </div>

    <div class="button-type">
        <h4>Outlined</h4>

        <br />

        <InfButton LabelText="Button" FillMode="FillMode.Outline" />

        <br />

        <InfButton LabelText="Button" FillMode="FillMode.Outline">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

        <br />

        <InfButton LabelText="Button" IconPosition="IconPosition.Right" FillMode="FillMode.Outline">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

        <br />

        <InfButton FillMode="FillMode.Outline">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>
    </div>

    <div class="button-type">
        <h4>Flat</h4>

        <br />

        <InfButton LabelText="Button" FillMode="FillMode.Flat" />

        <br />

        <InfButton LabelText="Button" FillMode="FillMode.Flat">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

        <br />

        <InfButton LabelText="Button" IconPosition="IconPosition.Right" FillMode="FillMode.Flat">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

        <br />

        <InfButton FillMode="FillMode.Flat">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>
    </div>
</div>

<div class="button-state">
    <h3 class="button-title">Disabled</h3>

    <br />

    <div class="button-type">
        <h4>Solid</h4>

        <br />

        <InfButton LabelText="Button" Enabled="false" />

        <br />

        <InfButton LabelText="Button" Enabled="false">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

        <br />

        <InfButton LabelText="Button" IconPosition="IconPosition.Right" Enabled="false">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

        <br />

        <InfButton Enabled="false">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

    </div>

    <div class="button-type">
        <h4>Outlined</h4>

        <br />

        <InfButton LabelText="Button" FillMode="FillMode.Outline" Enabled="false" />

        <br />

        <InfButton LabelText="Button" FillMode="FillMode.Outline" Enabled="false">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

        <br />

        <InfButton LabelText="Button" IconPosition="IconPosition.Right" FillMode="FillMode.Outline" Enabled="false">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

        <br />

        <InfButton FillMode="FillMode.Outline" Enabled="false">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

    </div>

    <div class="button-type">
        <h4>Flat</h4>

        <br />


        <InfButton LabelText="Button" FillMode="FillMode.Flat" Enabled="false" />

        <br />

        <InfButton LabelText="Button" FillMode="FillMode.Flat" Enabled="false">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

        <br />

        <InfButton LabelText="Button" IconPosition="IconPosition.Right" FillMode="FillMode.Flat" Enabled="false">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>

        <br />

        <InfButton FillMode="FillMode.Flat" Enabled="false">
            <IconTemplate>
                <AddIcon />
            </IconTemplate>
        </InfButton>
    </div>
</div>

<style>
    .button-state {
        display: flex;
        gap: 50px;
    }

    .button-title {
        width: 150px;
    }

    .button-type {
        margin-bottom: 50px;
    }
</style>
