@page "/buttons"
@using Infinity.Blazor.UIControls.Buttons
@using Infinity.Blazor.UIControls.Icons

<PageTitle>Buttons</PageTitle>

<Button LabelText="Solid Button" IconPosition="IconPosition.Right">
    <IconTemplate>
        <AddIcon />
    </IconTemplate>
</Button>
<br />
<Button LabelText="Solid Button" FillMode="FillMode.Solid" Enabled="false">
    <IconTemplate>
        <AddIcon />
    </IconTemplate>
</Button>
<br />
<Button LabelText="Outlined Button" FillMode="FillMode.Outline">
    <IconTemplate>
        <AddIcon />
    </IconTemplate>
</Button>
<br />
<Button LabelText="Flat Button" FillMode="FillMode.Flat" IconPosition="IconPosition.Right">
    <IconTemplate>
        <AddIcon />
    </IconTemplate>
</Button>
<br />
<Button>
    <IconTemplate>
        <AddIcon />
    </IconTemplate>
</Button>
