@page "/buttons"
@using Infinity.Blazor.UIControls.Buttons
@using Infinity.Blazor.UIControls.Icons

<PageTitle>Buttons</PageTitle>

<Button LabelText="Solid Button"/>
<br />
<Button LabelText="Solid Button" IconPosition="IconPosition.Right">
    <IconTemplate>
        <AddIcon />
    </IconTemplate>
</Button>
<br />
<Button LabelText="Solid Button" IconPosition="IconPosition.Left">
    <IconTemplate>
        <EditIcon />
    </IconTemplate>
</Button>
<br />
<Button IconPosition="IconPosition.Right">
    <IconTemplate>
        <DeleteIcon />
    </IconTemplate>
</Button>
<br />

<Button LabelText="Solid Button" FillMode="FillMode.Solid" Enabled="false">
    <IconTemplate>
        <PublishIcon />
    </IconTemplate>
</Button>
<br />


<Button LabelText="Outlined Button" FillMode="FillMode.Outline" >
</Button>
<br />
<Button LabelText="Outlined Button" FillMode="FillMode.Outline" IconPosition="IconPosition.Right">
    <IconTemplate>
        <PrintIcon />
    </IconTemplate>
</Button>
<br />
<Button LabelText="Outlined Button" FillMode="FillMode.Outline" IconPosition="IconPosition.Left">
    <IconTemplate>
        <SearchIcon />
    </IconTemplate>
</Button>
<br />
<Button FillMode="FillMode.Outline" IconPosition="IconPosition.Right">
    <IconTemplate>
        <AddIcon />
    </IconTemplate>
</Button>
<br />
<Button LabelText="Outlined Button" FillMode="FillMode.Outline" IconPosition="IconPosition.Right" Enabled="false">
    <IconTemplate>
        <AddIcon />
    </IconTemplate>
</Button>
<br />

<Button LabelText="Flat Button" FillMode="FillMode.Flat">
</Button>
<br />
<Button LabelText="Flat Button" FillMode="FillMode.Flat" IconPosition="IconPosition.Right">
    <IconTemplate>
        <AddIcon />
    </IconTemplate>
</Button>
<br />
<Button LabelText="Flat Button" FillMode="FillMode.Flat" IconPosition="IconPosition.Left">
    <IconTemplate>
        <AddIcon />
    </IconTemplate>
</Button>
<br />
<Button FillMode="FillMode.Flat" IconPosition="IconPosition.Right">
    <IconTemplate>
        <AddIcon />
    </IconTemplate>
</Button>
<br />
<Button LabelText="Flat Button" FillMode="FillMode.Flat" IconPosition="IconPosition.Right" Enabled="false">
    <IconTemplate>
        <AddIcon />
    </IconTemplate>
</Button>
<br />
