@page "/progress-bars"

<PageTitle>Progress bars</PageTitle>

@using Infinity.Blazor.UIControls.ProgressBars

<div style="display: flex;">

    <ProgressBarHalfCircle Color="ProgressBarColor.Red" Value="0" />

    <ProgressBarHalfCircle Color="ProgressBarColor.Red" Value="10" />

    <ProgressBarHalfCircle Color="ProgressBarColor.Green" Value="30" />

    <ProgressBarHalfCircle Color="ProgressBarColor.Yellow" Value="50" />

    <ProgressBarHalfCircle Color="ProgressBarColor.Yellow" Value="80" />

    <ProgressBarHalfCircle Color="ProgressBarColor.Yellow" Value="100" />

</div>

<div style="display: flex;">

    <ProgressBarHalfCircle Size="ProgressBarSize.Small" Color="ProgressBarColor.Red" Value="0" />

    <ProgressBarHalfCircle Size="ProgressBarSize.Small" Color="ProgressBarColor.Red" Value="10" />

    <ProgressBarHalfCircle Size="ProgressBarSize.Small" Color="ProgressBarColor.Green" Value="30" />

    <ProgressBarHalfCircle Size="ProgressBarSize.Small" Color="ProgressBarColor.Yellow" Value="50" />

    <ProgressBarHalfCircle Size="ProgressBarSize.Small" Color="ProgressBarColor.Yellow" Value="80" />

    <ProgressBarHalfCircle Size="ProgressBarSize.Small" Color="ProgressBarColor.Yellow" Value="100" />

</div>

<br/>

<div>

    <ProgressBarLine Color="ProgressBarColor.Red" Value="0" />

    <ProgressBarLine Color="ProgressBarColor.Red" Value="10" />

    <ProgressBarLine Color="ProgressBarColor.Green" Value="30" />

    <ProgressBarLine Color="ProgressBarColor.Yellow" Value="50" />

    <ProgressBarLine Color="ProgressBarColor.Yellow" Value="80" />

    <ProgressBarLine Color="ProgressBarColor.Yellow" Value="100" />

</div>
