@page "/progress-bars"

<PageTitle>Progress bars</PageTitle>

@using Infinity.Blazor.UIControls.ProgressBars

<h3>Total Stock Count</h3>

<br />

<div style="display: flex; align-items: center;">

    <h4 style="width: 100px;">Large</h4>

    <InfProgressBarHalfCircle Value="10" />

    <InfProgressBarHalfCircle Value="30" />

    <InfProgressBarHalfCircle Value="40" />

    <InfProgressBarHalfCircle Value="60" />

    <InfProgressBarHalfCircle Value="75" />

    <InfProgressBarHalfCircle Value="85" />

    <InfProgressBarHalfCircle Value="100" />

</div>

<br />

<br />

<div style="display: flex; align-items: center;">

    <h4 style="width: 100px;">Small</h4>

    <InfProgressBarHalfCircle Value="10" Size="ProgressBarHalfCircleSize.Small" />

    <InfProgressBarHalfCircle Value="30" Size="ProgressBarHalfCircleSize.Small" />

    <InfProgressBarHalfCircle Value="40" Size="ProgressBarHalfCircleSize.Small" />

    <InfProgressBarHalfCircle Value="60" Size="ProgressBarHalfCircleSize.Small" />

    <InfProgressBarHalfCircle Value="75" Size="ProgressBarHalfCircleSize.Small" />

    <InfProgressBarHalfCircle Value="85" Size="ProgressBarHalfCircleSize.Small" />

    <InfProgressBarHalfCircle Value="100" Size="ProgressBarHalfCircleSize.Small" />

</div>

<br />

<br />

<h3>Stocktake Progress</h3>

<br />

<div>

    <InfProgressBarLine Value="15" LowThresholdMaxPercentage="40" MidThresholdMaxPercentage="70" Width="322px" />

    <br />

    <InfProgressBarLine Value="30" LowThresholdMaxPercentage="40" MidThresholdMaxPercentage="70" Width="322px" />

    <br />

    <InfProgressBarLine Value="45" LowThresholdMaxPercentage="40" MidThresholdMaxPercentage="70" Width="322px" />

    <br />

    <InfProgressBarLine Value="65" LowThresholdMaxPercentage="40" MidThresholdMaxPercentage="70" Width="322px" />

    <br />

    <InfProgressBarLine Value="75" LowThresholdMaxPercentage="40" MidThresholdMaxPercentage="70" Width="322px" />

    <br />

    <InfProgressBarLine Value="85" LowThresholdMaxPercentage="40" MidThresholdMaxPercentage="70" Width="322px" />

    <br />

    <InfProgressBarLine Value="100" LowThresholdMaxPercentage="40" MidThresholdMaxPercentage="70" Width="322px" />

</div>
