@page "/selectors"

<PageTitle>Selectors</PageTitle>

@using Infinity.Blazor.UIControls.Selectors

<div class="selector">
    <h4 class="selector-title">Checkbox</h4>

    <br />

    <InfCheckbox LabelText="Checkbox label" />

    <br />

    <InfCheckbox />
</div>

<div class="selector">
    <h4 class="selector-title">Card Selector</h4>

    <br />

    <InfCardSelector Title="Title" Description="Description" />
</div>

<div class="selector">
    <h4 class="selector-title">Switch</h4>

    <br />

    <InfSwitch />
</div>

<style>
    .selector {
        display: flex;
        gap: 30px;
        margin-bottom: 50px;
    }
    .selector-title {
        width: 200px;
    }
</style>
