@page "/tags"
@using Infinity.Blazor.UIControls.Tags;

<PageTitle>Tags</PageTitle>

<div class="tags">
    <div class="tag-type">
        Primary
    </div>

    <InfTag Label="Label chip" />

    <InfTag Label="Label chip" CanRemove="true" />
</div>

<div class="tags">
    <div class="tag-type">
        Success
    </div>

    <InfTag Label="Label chip" TagType="TagType.Success" />

    <InfTag Label="Label chip" CanRemove="true" TagType="TagType.Success" />
</div>

<div class="tags">
    <div class="tag-type">
        Warning
    </div>

    <InfTag Label="Label chip" TagType="TagType.Warning" />

    <InfTag Label="Label chip" CanRemove="true" TagType="TagType.Warning" />
</div>

<div class="tags">
    <div class="tag-type">
        Error
    </div>

    <InfTag Label="Label chip" TagType="TagType.Error" />

    <InfTag Label="Label chip" CanRemove="true" TagType="TagType.Error" />
</div>

<style>
    .tags {
        display: flex;
        gap: 30px;
        margin-bottom: 30px;
    }

    .tag-type {
        width: 100px;
    }
</style>
