<span>
    <TelerikProgressBar Orientation="@Orientation.MapToTelerikProgressBarOrientation()"
                        Class="triquestra-progress-bar-line"
                        Value="@Value"
                        Max="@Max">
    </TelerikProgressBar>
    <span class="triquestra-progress-bar-line-text">@Value%</span> 
</span>