<TelerikProgressBar Class="triquestra-progress-bar-line"
                    Value="@Value"
                    Max="@Max">
    <ProgressBarLabel Visible="true">
        <Template>
            <div class="triquestra-progress-bar-line-wrapper" style="width:@Width">
                <div class="triquestra-progress-bar-line-bar">
                    <div class="triquestra-progress-bar-line-progressed"
                         style="background-color: @ColorCssClass;
                                width: @($"{context.Value}%")">
                    </div>
                </div>
                <div class="triquestra-progress-bar-line-value">
                    @context.Value%
                </div>
            </div>
        </Template>
    </ProgressBarLabel>
</TelerikProgressBar>
