<div class="triquestra-progress-bar-container">
    <TelerikProgressBar Class="triquestra-progress-bar"
                        Value="@Value"
                        Max="@Max">
        <ProgressBarLabel Visible="true">
            <Template>
                <div class="triquestra-progress-bar-wrapper">
                    <div class="triquestra-progress-bar-progressed"
                         style="transform: rotate(@GetBarRorateDegree(context.Value));
                                 border-bottom-color: @ColorCssClass;
                                 border-right-color: @ColorCssClass;">
                    </div>
                    <div class="triquestra-progress-bar-value" style="color: @ColorCssClass;">
                        @GetRoundedPercentageValue(context.Value)
                    </div>
                </div>
            </Template>
        </ProgressBarLabel>
    </TelerikProgressBar>
</div>
