/* TriquestraButton css */
.k-button.triquestra-button {
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    font-weight: 500;
    font-family: 'Roboto';
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 12px 24px;
    outline: none;
    border: 0px;
    gap: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

    .k-button.triquestra-button:focus {
        box-shadow: none;
    }

    .k-button.triquestra-button > .k-button-text {
        display: flex;
        align-items: center;
    }

    /* SolidButton css */
    .k-button.triquestra-button.k-button-solid {
        color: white;
        background-color: #445D63;
    }

        .k-button.triquestra-button.k-button-solid:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),#445D63;
        }

        .k-button.triquestra-button.k-button-solid:active {
            background-color: rgba(68, 93, 99, 0.6);
        }

        .k-button.triquestra-button.k-button-solid:disabled {
            color: #898989;
            background-color: #DCDCDC;
        }


        /* Icon colors */
        .k-button.triquestra-button.k-button-solid .triquestra-icon {
            stroke: white;
        }

        .k-button.triquestra-button.k-button-solid:disabled .triquestra-icon {
            stroke: #898989;
        }

    /* OutlinedButton css */
    .k-button.triquestra-button.k-button-outline {
        color: #445D63;
        border: 1px solid #445D63;
        background: white;
    }

        .k-button.triquestra-button.k-button-outline:hover {
            background: rgba(68, 93, 99, 0.2);
        }

        .k-button.triquestra-button.k-button-outline:active {
            background: rgba(220, 220, 220, 0.2);
        }

        .k-button.triquestra-button.k-button-outline:disabled {
            color: #898989;
            border: 1px solid #DCDCDC;
        }


        /* Icon colors */
        .k-button.triquestra-button.k-button-outline .triquestra-icon {
            stroke: #445D63;
        }

        .k-button.triquestra-button.k-button-outline:disabled .triquestra-icon {
            stroke: #898989;
        }

    /* FlatButton css */
    .k-button.triquestra-button.k-button-flat {
        color: #B00020;
        background: white;
        border-radius: 0;
    }

        .k-button.triquestra-button.k-button-flat .k-button-text {
            border-bottom: 1px solid #B00020;
        }

        .k-button.triquestra-button.k-button-flat:hover {
            color: #EF4444;
        }

        .k-button.triquestra-button.k-button-flat:active {
            color: #B60000;
        }

        .k-button.triquestra-button.k-button-flat:disabled {
            color: #898989;
        }

        /* Icon colors */
        .k-button.triquestra-button.k-button-flat .triquestra-icon {
            stroke: #B00020;
        }

        .k-button.triquestra-button.k-button-flat:hover .k-button-text .triquestra-icon {
            stroke: #EF4444;
        }

        .k-button.triquestra-button.k-button-flat:active .triquestra-icon {
            stroke: #B60000;
        }

        .k-button.triquestra-button.k-button-flat:disabled .k-button-text .triquestra-icon {
            stroke: #898989;
        }

.k-button-text .triquestra-button-text-left {
    padding-right: 10px;
}

.k-button-text .triquestra-button-text-right {
    padding-left: 10px;
}

/* TextBox css */
.triquestra-input-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.001em;
    position: relative;
}

    .triquestra-input-text-container .triquestra-input-text-label {
        color: #202020;
        font-weight: 500;
    }

    .triquestra-input-text-container .k-textbox.triquestra-input-text input,
    .triquestra-input-text-container .k-textarea.triquestra-input-text textarea {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px;
        gap: 532px;
        font-weight: 400;
        color: #898989;
        background: #F9F9F9;
        border: 1px solid #DCDCDC;
        border-radius: 8px;
        width: inherit;
    }

    .triquestra-input-text-container .k-textarea.triquestra-input-text textarea {
        padding-left: 26px;
    }

    .triquestra-input-text-container:has(.triquestra-input-text-icon-left) .k-textbox.triquestra-input-text input {
        padding-left: calc(12px + 24px);
    }

    .triquestra-input-text-container:has(.triquestra-input-text-icon-right) .k-textbox.triquestra-input-text input {
        padding-right: calc(12px + 24px);
    }

    .triquestra-input-text-container .triquestra-input-text-icon-left,
    .triquestra-input-text-container .triquestra-input-text-icon-right {
        position: absolute;
        z-index: 1;
        top: 12px;
    }

    .triquestra-input-text-container .triquestra-input-text-icon-left {
        left: 13px;
    }

    .triquestra-input-text-container .triquestra-input-text-icon-right {
        right: 13px;
    }

    .triquestra-input-text-container .k-textbox.triquestra-input-text input:active,
    .triquestra-input-text-container .k-textbox.triquestra-input-text input:focus,
    .triquestra-input-text-container .k-textarea.triquestra-input-text textarea:active,
    .triquestra-input-text-container .k-textarea.triquestra-input-text textarea:focus {
        color: #202020;
        background: white;
        border: 1px solid #0062FF;
    }

    .triquestra-input-text-container:has(+ .k-invalid-msg) .k-textbox.triquestra-input-text input,
    .triquestra-input-text-container:has(+ .validation-message) .k-textbox.triquestra-input-text input,
    .triquestra-input-text-container:has(+ .k-invalid-msg) .k-textarea.triquestra-input-text textarea,
    .triquestra-input-text-container:has(+ .validation-message) .k-textarea.triquestra-input-text textarea {
        color: #202020;
        background: white;
        border: 1px solid #B00020;
    }

    .triquestra-input-text-container + .k-invalid-msg,
    .triquestra-input-text-container + .validation-message {
        color: #B00020;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.004em;
        margin-top: 12px;
    }

    /* Mobile */
    @media only screen and (max-width: 600px) {
        /* TriquestraButton css */
        .k-button.triquestra-button {
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
    }
}

/* Icons */

.triquestra-icon {
    width: 16px;
    height: 16px;
}
