/* TriquestraButton css */

.k-button.triquestra-button {
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    font-weight: 500;
    font-family: 'Roboto';
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 12px 24px;
    outline: none;
    border: 0px;
    gap: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

    .k-button.triquestra-button:focus {
        box-shadow: none;
    }

    .k-button.triquestra-button > .k-button-text {
        display: flex;
        align-items: center;
    }

    /* SolidButton css */
    .k-button.triquestra-button.k-button-solid {
        color: white;
        background-color: #445D63;
    }

        .k-button.triquestra-button.k-button-solid:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),#445D63;
        }

        .k-button.triquestra-button.k-button-solid:active {
            background-color: rgba(68, 93, 99, 0.6);
        }

        .k-button.triquestra-button.k-button-solid:disabled {
            color: #898989;
            background-color: #DCDCDC;
        }


        /* Icon colors */
        .k-button.triquestra-button.k-button-solid .triquestra-icon {
            stroke: white;
        }

        .k-button.triquestra-button.k-button-solid:disabled .triquestra-icon {
            stroke: #898989;
        }

    /* OutlinedButton css */
    .k-button.triquestra-button.k-button-outline {
        color: #445D63;
        border: 1px solid #445D63;
        background: white;
    }

        .k-button.triquestra-button.k-button-outline:hover {
            background: rgba(68, 93, 99, 0.2);
        }

        .k-button.triquestra-button.k-button-outline:active {
            background: rgba(220, 220, 220, 0.2);
        }

        .k-button.triquestra-button.k-button-outline:disabled {
            color: #898989;
            border: 1px solid #DCDCDC;
        }


        /* Icon colors */
        .k-button.triquestra-button.k-button-outline .triquestra-icon {
            stroke: #445D63;
        }

        .k-button.triquestra-button.k-button-outline:disabled .triquestra-icon {
            stroke: #898989;
        }

    /* FlatButton css */
    .k-button.triquestra-button.k-button-flat {
        color: #B00020;
        background: white;
        border-radius: 0;
    }

        .k-button.triquestra-button.k-button-flat .k-button-text {
            border-bottom: 1px solid #B00020;
        }

        .k-button.triquestra-button.k-button-flat:hover {
            color: #EF4444;
        }

        .k-button.triquestra-button.k-button-flat:active {
            color: #B60000;
        }

        .k-button.triquestra-button.k-button-flat:disabled {
            color: #898989;
        }

        /* Icon colors */
        .k-button.triquestra-button.k-button-flat .triquestra-icon {
            stroke: #B00020;
        }

        .k-button.triquestra-button.k-button-flat:hover .k-button-text .triquestra-icon {
            stroke: #EF4444;
        }

        .k-button.triquestra-button.k-button-flat:active .triquestra-icon {
            stroke: #B60000;
        }

        .k-button.triquestra-button.k-button-flat:disabled .k-button-text .triquestra-icon {
            stroke: #898989;
        }

.k-button-text .triquestra-button-text-left {
    padding-right: 10px;
}

.k-button-text .triquestra-button-text-right {
    padding-left: 10px;
}


/* TextBox css */

.triquestra-input-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.001em;
    position: relative;
}

    .triquestra-input-text-container .triquestra-input-text-label {
        color: #202020;
        font-weight: 500;
    }

    .triquestra-input-text-container .k-textbox.triquestra-input-text input {
        height: 48px;
    }

    .triquestra-input-text-container .k-textbox.triquestra-input-text input,
    .triquestra-input-text-container .k-textarea.triquestra-input-text textarea {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px;
        gap: 532px;
        font-weight: 400;
        color: #898989;
        background: #F9F9F9;
        border: 1px solid #DCDCDC;
        border-radius: 8px;
        width: inherit;
    }

    .triquestra-input-text-container .k-textarea.triquestra-input-text textarea {
        padding-left: 26px;
    }

    .triquestra-input-text-container:has(.triquestra-input-text-icon-left) .k-textbox.triquestra-input-text input {
        padding-left: calc(12px + 24px);
    }

    .triquestra-input-text-container:has(.triquestra-input-text-icon-right) .k-textbox.triquestra-input-text input {
        padding-right: calc(12px + 24px);
    }

    .triquestra-input-text-container .triquestra-input-text-icon-left,
    .triquestra-input-text-container .triquestra-input-text-icon-right {
        position: absolute;
        z-index: 1;
        top: 12px;
    }

    .triquestra-input-text-container .triquestra-input-text-icon-left {
        left: 13px;
    }

    .triquestra-input-text-container .triquestra-input-text-icon-right {
        right: 13px;
    }

    .triquestra-input-text-container .k-textbox.triquestra-input-text input:active,
    .triquestra-input-text-container .k-textbox.triquestra-input-text input:focus,
    .triquestra-input-text-container .k-textarea.triquestra-input-text textarea:active,
    .triquestra-input-text-container .k-textarea.triquestra-input-text textarea:focus {
        color: #202020;
        background: white;
        border: 1px solid #0062FF;
    }

    .triquestra-input-text-container:has(+ .k-invalid-msg) .k-textbox.triquestra-input-text input,
    .triquestra-input-text-container:has(+ .validation-message) .k-textbox.triquestra-input-text input,
    .triquestra-input-text-container:has(+ .k-invalid-msg) .k-textarea.triquestra-input-text textarea,
    .triquestra-input-text-container:has(+ .validation-message) .k-textarea.triquestra-input-text textarea {
        color: #202020;
        background: white;
        border: 1px solid #B00020;
    }

    .triquestra-input-text-container + .k-invalid-msg,
    .triquestra-input-text-container + .validation-message {
        color: #B00020;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.004em;
        margin-top: 12px;
    }


/* Tag css */

.triquestra-tag-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 12px;
    border-radius: 4px;
    width: fit-content;
}

.triquestra-tag-label {
    display: flex;
    align-items: center;
    letter-spacing: 0.004em;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.triquestra-tag-primary {
    background: #445D63;
    color: #FFFFFF;
}

.triquestra-tag-success {
    background: #0CAF60;
    color: #FFFFFF;
}

.triquestra-tag-warning {
    background: #FFD023;
    color: #000000;
}

.triquestra-tag-error {
    background: #B00020;
    color: #FFFFFF;
}


/* Tabs css */

.k-tabstrip.triquestra-tabs {
}

    .k-tabstrip.triquestra-tabs .k-tabstrip-items-wrapper {
        background: #FFFFFF;
    }

        .k-tabstrip.triquestra-tabs .k-tabstrip-items-wrapper .k-tabstrip-items {
            list-style-type: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.0025em;
            color: #898989;
            border-bottom: 1px solid #DCDCDC;
            padding: 12px 24px 8px;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            gap: 10px;
        }

            .k-tabstrip.triquestra-tabs .k-tabstrip-items-wrapper .k-tabstrip-items .k-tabstrip-item {
                cursor: pointer;
                text-align: center;
                padding: 12px 24px 8px;
            }

                .k-tabstrip.triquestra-tabs .k-tabstrip-items-wrapper .k-tabstrip-items .k-tabstrip-item.k-active {
                    color: #202020;
                    border-bottom: 2px solid #202020;
                    margin-bottom: -1px;
                }


/* Checkbox */

.triquestra-checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: fit-content;
}

    .triquestra-checkbox-container .k-checkbox.triquestra-checkbox {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: 1px solid #898989;
        border-radius: 2px;
    }

        .triquestra-checkbox-container .k-checkbox.triquestra-checkbox:checked {
            accent-color: #445D63 !important;
        }


    .triquestra-checkbox-container .triquestra-checkbox-label {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.0025em;
        color: #202020;
    }


/* Card Selector */

.triquestra-card-selector {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 12px;
}

    .triquestra-card-selector:hover,
    .triquestra-card-selector:active {
        background: #76C3B1;
    }

    .triquestra-card-selector .triquestra-card-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 16px;
    }

        .triquestra-card-selector .triquestra-card-wrapper .triquestra-card-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 4px;
        }

.triquestra-card-content .triquestra-card-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.001em;
    color: #202020;
}

.triquestra-card-content .triquestra-card-description {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.004em;
    color: #898989;
}

.triquestra-card-selector:hover .triquestra-card-title,
.triquestra-card-selector:hover .triquestra-card-description,
.triquestra-card-selector:active .triquestra-card-title,
.triquestra-card-selector:active .triquestra-card-description {
    color: black;
}


/* Switch */

.k-switch-md.triquestra-switch {
    width: 50px;
    height: 30px;
    font-size: 10px;
}

.k-switch.triquestra-switch {
    box-sizing: border-box;
    outline: 0;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.k-rounded-full {
    border-radius: 9999px;
}

.k-switch.triquestra-switch [type="checkbox"] {
    display: none;
}

.k-switch.triquestra-switch *,
.k-switch.triquestra-switch *::before,
.k-switch.triquestra-switch *::after {
    box-sizing: border-box;
}

.k-switch-off.triquestra-switch .k-switch-track {
    border: 2px solid #898989;
    background: #F9F9F9;
}

.k-switch-md.triquestra-switch .k-switch-track {
    width: 50px;
    height: 30px;
}

.triquestra-switch .k-switch-track {
    border-width: 1px;
    border-style: solid;
    outline: 0;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 auto;
    position: relative;
    transition: background-color 200ms ease-in-out;
}

.k-switch-on.triquestra-switch .k-switch-track {
    border-color: #898989;
    color: white;
    background-color: #445D63;
}

.k-switch-on.triquestra-switch .k-switch-label-off {
    color: transparent;
}

.k-switch-md.k-switch-on.triquestra-switch .k-switch-thumb-wrap {
    left: calc(100% - 15px);
}

.k-switch-on.triquestra-switch .k-switch-thumb {
    border-color: rgba(0, 0, 0, 0.08);
    color: #424242;
    background-color: #fafafa;
}

.k-switch-thumb-wrap {
    width: 0;
    height: 0;
    overflow: visible;
    position: absolute;
    transition: left 200ms ease-in-out;
    top: 50%;
}

.k-switch-off.triquestra-switch .k-switch-label-on {
    color: transparent;
}

.triquestra-switch .k-switch-label-on, .k-switch-label-off {
    text-transform: uppercase;
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.k-switch-md.triquestra-switch .k-switch-label-on {
    left: 6px;
    display: none;
}

.k-switch-md.triquestra-switch .k-switch-label-off {
    right: 6px;
    display: none;
}

.triquestra-switch .k-switch-thumb {
    border-width: 1px;
    border-style: solid;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
}

.k-switch-md.triquestra-switch .k-switch-thumb {
    width: 24px;
    height: 24px;
}

.k-switch-off.triquestra-switch .k-switch-thumb {
    border-color: #898989;
    color: #424242;
    background-color: #898989;
    width: 16px;
    height: 16px;
}

.k-switch-md.k-switch-off.triquestra-switch .k-switch-thumb-wrap {
    left: 15px;
}


/* Progress Bar */

.triquestra-progress-bar-container {
    position: relative;
    margin: 4px;
    float: left;
    text-align: center;
}

.triquestra-progress-bar-wrapper {
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 45px;
    margin-bottom: -14px;
}

.triquestra-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 12px solid #DCDCDC;
    transform: rotate(106.2deg);
}

.triquestra-progress-bar-value {
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    padding-top: 15%;
}

.k-selected {
    display: none;
}

/* Icons */
.triquestra-progress-bar-container .triquestra-icon {
    width: 16px;
    height: 16px;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .k-button.triquestra-button {
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
    }

    .triquestra-input-text-container .k-textbox.triquestra-input-text input {
        height: 40px;
    }
}
