@using Infinity.Blazor.UIControls.Icons

@if (!Removed)
{
    <div class="triquestra-tag-container @GetTagTypeCssClass()">
        <span class="triquestra-tag-label">@Label</span>
        @if (CanRemove)
        {
            <CloseIcon Color="@(TagType == TagType.Warning ? "black" : "white")" OnRemove="@RemoveIcon" />
        }
    </div>
}